{% extends 'base.html' %}
{% block content %}

    <!-- Header -->
    <header>
      <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <p> Créer un diagramme d'entreprise a partir d'un tableau excel</p>
              <br/><br/>
              <div class="card">
                <p> voici votre diagramme</p>









                
              </div>
              <br/><br/><br/><br/><br/>
              <!--
              <div class="card">
                <form action="{ { url_for('/result') }}" enctype="multipart/form-data">
                  <p>
                    Veuillez Selectionner un fichier Excel (xlsx)<br><br/>
                    <input type="file" name="datafile" size="40">
                  </p>
                  <div>
                    
                    <button type="submit" class="btn btn-warning" value="Send">Valider</button>
                  </div>
                </form>
              </div>
            -->
            </div>
        </div>
        <div class="row">
          
        </div>
      </div>
    </header>
    <!-- { % include 'card.html' % }-->

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer-theme.min.js" charset="utf-8"></script>

</body>

</html>
{% endblock %}
